#content {
  width: 700px;
}

#content-inner {
  background-color: rgba(240, 240, 240);
  border-radius: 10px;
  padding: 1em;
}

#title {
  font-family: "Permanent Marker", cursive;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
}

#sub-title {
  font-size: 1.5em;
}

#sub-title span {
  border-bottom: 5px solid #085ed6;
}

#CSVImporter_Importer {
  margin-top: 3em;
}
